body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-spacing: 20px;
}

.image{
    width: 500px;
    height: 500px;
}

input{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input:hover{
    cursor: pointer;
}